.btn-blue {
	background-color: #AD8B73;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}

.btn-blue:hover {
	color: white;
	background-color: #CEAB93;
}